@using NetCoreWebApi.Models.Concrete;
@model IEnumerable<ProductDTO>
@{
    ViewData["Title"] = "Privacy Policy";
}
products
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Summary</th>
            <th>Detail</th>
            <th>Date</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         <tr>
            <td> @item.Id </td>
            <td> @item.Name </td>
            <td> @item.Summary </td>
            <td> @item.Detail </td>
            <td> @item.Created.Date.ToShortDateString() </td>
            <td> @item.CategoryId </td>
         </tr>
        }
    </tbody>
</table>